$main-font: "Work Sans", sans-serif;
$main-font-color: #909090;
$second-font-color: #ffffff;
$background: linear-gradient(
  117.07deg,
  #181818 0%,
  #1c1c1c 47.42%,
  #2a2a2a 101.62%
);

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax {
  position: relative;
  height: 100%;
  &__montain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__montain_1 {
    background: url("../img/m_1.png") 0 0 / cover no-repeat;
  }
  &__montain_2 {
    z-index: 1;
    background: url("../img/m_2.png") bottom right / 45% no-repeat;
  }
  &__montain_3 {
    z-index: 1;
    background: url("../img/m_3.png") left bottom / 100% no-repeat;
  }

  &__fog {
    background: url("../img/fog_1.png") bottom / 100% no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.content {
  position: relative;
  // z-index: 3;

  &__body {
    max-width: 1170px;
    margin: 0 auto;
    font-family: $main-font;
  }
  &__header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0px 20px;
  }
  &__title {
    font-size: 200px;
    font-family: $main-font;
    color: $main-font-color;
  }

  &__article {
    background-color: rgba(255, 255, 255, 0.5);

    font-size: 18px;
  }
}

.container {
  padding: 25px;
}
.header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    list-style: none;
    // white-space: nowrap;
  }

  &__nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-family: $main-font;
    color: $main-font-color;
    margin-right: 80px;
    text-transform: uppercase;
  }
  &__selection {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    font-family: $main-font;
    color: $main-font-color;
    cursor: pointer;
    & option {
      background-color: #2a2a2a;
      cursor: pointer;
      border: none;
    }
  }
}

.btns {
  margin-top: 47px;
  display: flex;
  & .btn--green,
  & .btn--gray {
    display: flex;
    align-items: center;
    width: 220px;
    height: 80px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding-left: 25px;
  }
  .btn--green {
    margin-right: 21px;
    color: $second-font-color;
    background: linear-gradient(94.21deg, #31984d 3.63%, #7deaa0 102.06%);
    border-radius: 38px 38px 0px 38px;
    border: 2px solid #7deaa0;
    //   border-image: linear-gradient(90deg, #31984d, #7deaa0);
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/Btn1.svg");
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 1;
      width: 50px;
      height: 50px;
      right: 20px;
      top: 18px;
    }
  }
  .btn--gray {
    position: relative;
    color: $main-font-color;
    background: linear-gradient(94.21deg, #363535 3.63%, #323232 102.06%);
    border-radius: 0px 38px 38px 38px;
    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/Btn2.svg");
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 20;
      width: 50px;
      height: 54px;
      right: 20px;
      top: 18px;
    }
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 150px;
  position: relative;

  &__header-head {
    font-family: "Roboto Slab", serif;
    width: 520px;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    background-image: linear-gradient(
      105.4deg,
      #eca919 0.02%,
      rgba(242, 160, 36, 0.99) 95.77%
    );
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    z-index: -1;
  }
  &::before {
    position: absolute;
    content: "";
    top: -70px;
    left: 0;
    background-image: url("../img/ellipse.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 45px;
    height: 45px;
  }
  &::after {
    position: absolute;
    content: "";
    top: 268px;
    left: 600px;
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 48px;
    height: 48px;
  }
  &__header-text {
    width: 472px;
    margin-top: 46px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: $main-font-color;
  }

  &__header-watch-btn {
    min-width: 200px;
    margin-left: 5px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    & img {
      position: relative;
      width: 70px;
      height: 70px;
      display: block;
      border-radius: 100px;
      background: linear-gradient(94.21deg, #444444 3.63%, #323232 102.06%);
    }
  }

  &__header-watch-btn-text {
    margin-left: 15px;
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: $main-font-color;
    }
    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: $second-font-color;
    }
  }
  &__member-imgs {
    display: block;
  }
}

/** Section About Us *****/

.about-us {
  margin-top: 120px;
  .btns &__btn-styles {
    border-radius: 38px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__head-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: $main-font-color;
    margin-bottom: 55px;
  }
  &__head-text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: $main-font-color;
    width: 456px;
    margin-bottom: 40px;
  }
}
.footer {
  margin-top: 150px;
  background: $background;
  padding: 25px;

  &__title {
    color: $second-font-color;
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // &__block + &__block {
  //   margin-left: 10px;
  // }

  &__text {
    color: $second-font-color;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 20px;
  }

  &__block-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 360px;
    height: 190px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 11px;

    img:hover {
      color: #0088cc;
      transition: 1s;
      transform: scale(1.3);
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 360px;
    height: 190px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 11px;
    padding: 20px;

    a {
      text-decoration: none;
      color: $second-font-color;
    }
  }
}
